{% extends 'adminapp/index.html' %}

{% block content %}
<br>
<br>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow border-0">
          <div class="card-header bg-warning text-dark text-center">
            <h4 class="mb-0">Edit Department</h4>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="form-label">Department Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ department.name }}" required>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'list_departments' %}" class="btn btn-secondary">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
